.contact{
    padding: 50px;
    text-align: center;
}

.contact .e1{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact .en1{
    font-size: 22px;
    margin-bottom: 30px;
    color: #dddddd;
}

.contact .enbtn{
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 60px;
}

.contact .enbtn:hover{
    background-color: #9d3f00;
}