
.feedback {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 60px;
}

.f4 {
  font-size: 22px;
}

.chip {
  display: flex;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 220px;
}

.chip1 {
  display: flex;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 250px;
}

.chip1 img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.checked {
  color: orange;
}