
.footer {
    background-color: #222;
    color: #fff;
    display: flex;
    padding: 20px 0;
    font-size: 14px;
}

.fo1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.pfo1 {
    margin-bottom: 5px;
}

.fo2 {
    margin-bottom: 10px;
}

.fo3 {
    font-size: 12px;
}