

.navbar {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  top: 0;
  position: sticky;
  
}

.active {
  margin-left: 660px;
  
}

.navbar a {
  float: left;
  text-align: center;
  padding: 24px;
  color: rgb(104, 167, 235);
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  background-color: #0e50eb;
  transition: ease-in-out 0.3s;
  color: white;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}