

.navbar {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  text-align: center;
  padding: 24px 16px;
  color: rgb(104, 167, 235);
  text-decoration: none;
  font-size: clamp(14px, 2.5vw, 22px);
  transition: all ease-in-out 0.3s;
}

.navbar a:first-child {
  margin-right: auto;
  padding-left: 24px;
}

.navbar a:hover {
  background-color: #0e50eb;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar a {
    padding: 16px;
    text-align: left;
  }

  .navbar a:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    padding: 12px;
    font-size: 14px;
  }
}