
.servicos{
    font-family: 'Gideon Roman', serif;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

h3 {
    font-size: 26px;
    margin-bottom: 10px;
    background-color: #0d0d68;
    color: #ffffff;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.p2 {
    color: #333333;
    font-size: 20px;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container {
    padding: 16px;
}

.info{
    font-family: 'Gideon Roman', serif;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    text-decoration: bold;
}

.i2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.info-card {
  padding-bottom: 50px;
  padding-top: 50px;
}